<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/bikes.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"></script>

    <script src="/js/plugins/openWeather.js"></script>
    <title>DublinBikes</title>
</head> 


<body onload="load()">

    <header id="header"> Dublin Bikes<br></header>

    <div id="wrap">
        <div id="map" style="width:800px;height:600px;"></div>
        <!--        Widget from openweathermap fine for now I guess-->
        <div id='openweathermap-widget'></div>
        <script type='text/javascript'>
            window.myWidgetParam = {
                id: 15,
                cityid: 2964574,
                appid: '0788f736465a29ac1be4ee900398fddd',
                units: 'metric',
                containerid: 'openweathermap-widget',
            };
            (function() {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.src = 'http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(script, s);
            })();

        </script>
<script>

    

            function load() {
                var xmlhttp = new XMLHttpRequest();
                var url = '../static/Dublin.json';
                //alert("1");



                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        var arr = JSON.parse(xmlhttp.responseText);
                        //alert("2");
                        myMap(arr);
                        //                    myFunction(arr);

                    }
                };
                xmlhttp.open("GET", url, true);
                xmlhttp.send();


            }

            function myFunction(arr) {
                var out = "";
            }



	google.charts.load('current', {
            'packages': ['corechart']
        });
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        // Callback that creates and populates a data table, 
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(x, y, z) {
            // Create the data table cooly.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Occupancy');
            data.addColumn('number', 'Bikes');
            data.addRows([
        ['Free', x]
        , ['Filled', y]
      , ]);
            // Set chart options
            var options = {
                'title': z
                , 'width': 400
                , 'height': 300
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
            



            function myMap(arr) {
                
                var out = "";
                var mapCanvas = document.getElementById("map");
                var mapOptions = {
                        center: new google.maps.LatLng(53.3498, -6.2603),
                        zoom: 14
                    }
                    //Taken from http://www.svennerberg.com/2012/03/adding-multiple-markers-to-google-maps-from-json/
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var infoWindow = new google.maps.InfoWindow();
                for (var i = 0, length = arr.length; i < length; i++) {
                    var data = arr[i],
                        latLng = new google.maps.LatLng(data.latitude, data.longitude);
                    

                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                        
                    });
                    var jqxhr = $.getJSON("/test/" + data.number+"",
 function(current) {
 //alert(current.available[1]);
 var bikes = current.available;
 var standname = bikes[1];
 var status = bikes[2];
 var stands = bikes[3];
 var available = bikes[4];
 var unavailable = bikes[5];
 var timestamp = bikes[6];
 }).fail(function() {
 console.log( "error" );
 }); 
                     
                    (function(marker, data) {
                        
                        
                        google.maps.event.addListener(marker, "mouseover", function(e) {
                            infoWindow.setContent("Number: " + data.number + "<br/>" + data.name);
                            infoWindow.open(map, marker);
                            
        });     
                         marker.addListener('click', function() {
                            var stand_no = data.number;
                            var jqxhr = $.getJSON("/test/" + data.number+"",
 function(current) {
 //alert(current.available[1]);
 var bikes = current.available;
 var standname = bikes[1];
 var status = bikes[2];
 var stands = bikes[3];
 var available = bikes[4];
 var unavailable = bikes[5];
 var timestamp = bikes[6];
 drawChart(available, unavailable, standname);
 infoWindow.setContent(""+available+"");
 infowindow.open(map, marker);                       
                        
                        
                        
                        
 }).fail(function() {
 console.log( "error" );
 }); 
                         	
                            //infoWindow.setContent(""+status+"");
                            //infowindow.open(map, marker);
                            //submitnumber(stand_no);
                            

                        });                        

                    })(marker, data);
                }
            }
    
    
 //   function submitnumber(x) {  // This function takes in x the stand number an calls queries.python with x as its argument
            //document.getElementById("input").style.display = "block";
            //alert(x);
    //        window.location = "/test/"+x+"";
 //       }   may need later
 
  function submitnumber(x) {  // This function takes in x the stand number an calls queries.python with x as its argument from a seperate url
      alert("hi")
      var infoWindow = new google.maps.InfoWindow();
      infoWindow.setContent("Hello");
      infowindow.open(marker.getMap(), marker); 
            var jqxhr = $.getJSON("/test/" + x+"",
 function(data) {
 var bikes = data.available;
 var standname = bikes[1];
 var status = bikes[2];
 var stands = bikes[3];
 var available = bikes[4];
 var unavailable = bikes[5];
 var timestamp = bikes[6];
 //alert("Available bikes:"+""+available+"");
    
 //alert(jqxhr);
 //var infoWindow= new google.maps.InfoWindow();
 infoWindow.setContent("Hello");
 infowindow.open(marker.getMap(), marker); 
 }).fail(function() {
 console.log( "error" );
 }) 
        }

        </script>
<input type="text" name="name" id="name">
<button type="button" id="home" onclick="validate()" value="checkvalue">
<script>

    

</script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
        <!--Div that will hold the pie chart-->
        <div id="chart_div" style="width:400; height:300"></div>
        
        <div id="myday"></div>
        <footer id="footer"></footer>
</body>

</html>
